.container{

    background: white;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
   
}
.container a {
    color: rgb(0, 0, 0);
}
.container a:hover {
    color: rgb(5, 54, 215);
}

@media only screen and (max-width:768px) {
    .container{
        width: 90%;
    }
}