.container {
  background: #fafafa;
}
.top {
  padding: 0 10px;
  height: 80px;
  background: #04a197;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.postMenu {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  background: #05baf1;
}
.locationMenu {
  font-size: 16px;
  font-weight: 800;
}
.contentBox {
  width: 100%;
  height: 100vh;
}
.contentContainer {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fImg {
  width: 100%;
  height: 100%;
}
.brandimage {
  width: 200px;
}
.title {
  font-size: 30px;
  font-weight: 700;
  color: red;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.desc h1 {
  color: black;
  font-size: 2em;
  font-weight: bolder;
}
.desc h2 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
}
.desc h3 {
  color: black;
  font-size: 1.17em;
  font-weight: bolder;
}
.desc h4 {
  color: black;
  font-size: 1em;
  font-weight: bolder;
}
.desc h5 {
  color: black;
  font-size: 0.83em;
  font-weight: bolder;
}
.desc h6 {
  color: black;
  font-size: 0.67em;
  font-weight: bolder;
}
.desc a {
  color: blue;
  text-decoration: underline;
}
.desc p {
  color: rgb(0, 0, 0);
  width: 500px;
  overflow-y: scroll;
}
.desc {
  color: black;
  margin-left: 30px;
  overflow-y: scroll;
}
.postImages {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-gap: 20px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .desc {
    margin-left: 0px;
  
  }
  .postImages {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 20px;
    margin: auto;
  }
  .fImg {
    width: 100%;
  }
                                .title {
                                  margin-left: 2px;
                                }
}
