.card {
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid red;
}


.card img {
    width: 100%;
    height: 200px;
}

.cross {
    overflow: hidden;
    width: 100%;
    height: 200px;
    background: rgba(92, 92, 92, 0.418);
    position: absolute;
    margin-top: -200px;
    display: none;
    backdrop-filter: blur(4px);
}

.cross span {
    width: 100%;
    height: 200px;
    transform: translate(42%, 45%);
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: red;
}

.card:hover .cross {
    display: block;
    animation: blob-bounce 1s ease;
}


@keyframes blob-bounce {
    0% {
        margin-top: -0px;
    }

    100% {
        margin-top: -200px;
    }
}

.postButton {
    background-color: #ff1616;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    transition: 0.2s;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.postButton:not(:disabled):focus,
.postButton:not(:disabled):hover {
    outline: 0;
    background: #03f417;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 10px 8px 0 rgba(0, 0, 0, 0.15);
}

.postButton:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}