@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.uppercase {
  font-size: 25px !important;
}
.ant-table-body {
  overflow-y: hidden !important;
}
::-webkit-scrollbar {
  width: 10px;
}
.ant-upload,
.ant-upload-list-item-container {
  width: 50% !important;
  height: 300px !important;
}
::-webkit-scrollbar-thumb {
  background: #047699;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00b118;
}
.active {
  background: #000 !important;
  color: #fff !important;
}
.Australia,
.Canada,
.Europe,
.Latin,
.United {
  background: #405e8f;
  padding: 5px;
  overflow: hidden;
}
.ant-upload-list {
  display: flex !important;
}
.ant-upload {
  margin: auto !important;
}
.Canada {
  margin-left: auto;
  margin-top: -36px;
  width: 49.5%;
}
.Australia,
.Europe,
.Latin {
  width: 50%;
}
.ant-btn {
  background: #68b905 !important;
}
.ant-btn:hover {
  background: #f04313 !important;
}
.anticon {
  font-size: 20px !important;
}
.ant-upload-list-item-thumbnail img {
  object-fit: cover !important;
}
@media only screen and (max-width: 768px) {
  .uppercase {
    font-size: 15px !important;
    /* margin-left: 5px; */
  }
  .Australia,
  .Canada,
  .Europe,
  .Latin,
  .United {
    background: #405e8f;
    width: 100%;
    overflow: hidden;
  }
  .Canada {
    margin-left: 0;
  }
  .Australia,
  .Europe,
  .Latin,
  .United {
    padding: 0px;
  }

}
.profile  .ant-upload-list-item-container{
margin: auto !important;
}
.ahad{
  background: red !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #c9c2c2;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #025a83;
}
.scroll-to-top {
  background: #05BAF1 !important;
  color: white !important;
  box-shadow: none !important;
  border-radius: 50% !important;
  z-index: 20 !important;
}

.scroll-to-top svg {
  fill: #fff !important;
  margin: auto;
  width: 22px !important;


}