.breadcrumbs > li:hover,
.productContainer h1:hover {
  color: #00f;
  text-decoration: underline;
}
.container {
  background: #eee;
}
.mainContainer {
  margin: 1%;
  background: #fff;
  color: #000;
  padding: 1%;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.warning {
  height: 50vh;
  padding: 5% 5%;
  color: black;
}
.adultAgreedButton,
.adultDisgreedButton {
  padding: 10px 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  margin-top: 20px;
}
.warningTitle {
  font-size: 45px;
}
.warningText {
  font-size: 26px;
}
.adultAgreedButton {
  background: #0e9f0e;
  font-size: 20px;
  border: 0;
  color: white;
  border-radius: 5px;
}
.adultAgreedButton:hover,
.adultDisgreedButton:hover {
  background: #10abce;
}
.adultDisgreedButton {
  background: #d92121;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
}
.breadcrumbs {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.breadcrumbs > li {
  list-style: none;
}
.premiumpostTitle {
  font-size: 14px;
  width: 250px;
  padding-left: 10px;
  font-weight: 600;
  color: #000;
  background-image: linear-gradient(to right, #cacaca, #fff);
}
.freepostTitle,
.premiumpostTitle2 {
  width: 400px;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 600;
  color: #000;
}
.premiumpostTitle2 {
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #ff3e3e, #fff);
}
.freepostTitle {
  margin-top: 20px;
  background-image: linear-gradient(to right, #ffa53e, #fff);
}
.freepostTitle2 {
  font-size: 14px;
  margin-top: 20px;
  width: 250px;
  padding-left: 10px;
  font-weight: 600;
  color: #000;
  background-image: linear-gradient(to right, #cacaca, #fff);
}
.productContainer p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.othersLinkImage {
  width: 300px;
  height: 300px;
  margin: 2px auto;
}
.othersLinkContainer {
  width: 250px;
  margin: 10px;
  border: 1px solid #d3d3d3;
}
.paginate {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.paginateSearch {
  width: 50px;
}
@media only screen and (max-width: 778px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  .breadcrumbs {
    font-size: 10px;
    gap: 3px;
  }
  .productContainer p {
    font-size: 10px;
    padding: 2%;
  }
  .othersLink {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .othersLinkContainer {
    width: 95%;
  }
  .othersLinkImage {
    width: 100%;
    height: auto;
  }
  .freepostTitle,
  .freepostTitle2,
  .premiumpostTitle {
    font-size: 14px;
    width: 200px;
  }
  .warningText {
    font-size: 14px;
  }
  .premiumpostTitle2,
  .freepostTitle {
    font-size: 16px;
    width: 350px;
  }
  .productContainer p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
